.invoice-filter {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 12px;
  box-sizing: border-box;
}

.arrow {
  transition: transform 0.2s ease;
}

.arrow.open {
  transform: rotate(180deg);
}

.filter-title {
  display: flex;
  gap: 2px;
  align-items: center;
  justify-content: flex-start;
}

.filter-title span {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.filter-section {
  width: 140px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--btn-sort);
  color: var(--text-color);
  padding: 8px 8px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
}

.filter-section:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2b2c2b;
  padding: 8px 8px;
  width: 140px;
  height: auto;
  background-color: var(--btn-sort);
  border-radius: 8px;
  font-weight: bold;
  font-size: 14px;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}

.invoice-filter-list {
  position: absolute;
  display: inline-block;
  z-index: 10;
  top: 100%;
  background-color: #f9f9f9;
  color: #4c4f57;
  border: 1px solid var(--btn-sort);
  border-radius: 8px;
  margin-top: 0px;
  width: 140px;
  height: max-content;
  list-style: none;
  padding: 0;
  text-transform: capitalize;
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.1),
    0 4px 12px rgba(0, 0, 0, 0.15),
    0 0 0 1px rgba(255, 255, 255, 0.05);
}

.invoice-filter-list li {
  padding: 10px;
  transition: background 0.2s;
}

.invoice-filter-list li:hover {
  background: var(--btn-sort-hover);
  color: #242424;
  border-radius: 8px;
}
