.modal-overlay {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-content {
  background: var(--bg-color);
  color: var(--text-color);
  padding: 20px;
  border-radius: 8px;
  width: 80%;
}

.modal-close {
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
}

.modal-actions {
  margin-top: 20px;
  gap: 10px;
}

@media only screen and (min-width: 767px) {
  .modal-content {
    max-width: 600px;
    min-width: 400px;
    width: auto;
  }
}
