.action-area{
 position: fixed;
  top: 90px;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 24px 24px 12px 24px;
  background-color: var(--bg-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid green;
} 

/* ------- cta-back ------ */

.cta-back svg {
  width: 16px;
  height: 16px;
  color: var(--text-color);
}

.cta-back {
  transition: 1s;
}

.cta-back:focus,
.cta-back.active {
  outline: none;
}

.cta-back:hover,
.cta-back:focus,
.cta-back.active {
  transition: 0.5s;
}

.cta-back span:nth-child(2) {
  transition: 0.5s;
}

.cta-back:hover span:nth-child(2),
.cta-back:focus span:nth-child(2),
.cta-back.active span:nth-child(2) {
  transition: 0.5s;
  transform: rotate(180deg);
}

.cta-back span:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  position: relative;
  top: 12%;
}

/* ------- SVG ------ */

path.one {
  transition: 0.4s;
}

path.two {
  transition: 0.5s;
}

.cta-back:hover path.three {
  animation: color_anim_back 1s infinite 0.2s;
}

.cta-back:hover path.one {
  animation: color_anim_back 1s infinite 0.6s;
}

.cta-back:hover path.two {
  animation: color_anim_back 1s infinite 0.4s;
}

@keyframes color_anim_back {
  0% {
    fill: #242424;
  }
  50% {
    fill: #fbc638;
  }
  100% {
    fill: #242424;
  }
}

/* ------- cta-back ------ */ 

.btn-back {
  transform: rotate(180deg);
  width: 36px;
  height: 36px;
  padding: 4px 8px;
  border-radius: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  border: 1px solid rgba(0, 0, 0, 0.08);
  outline: none;
  box-shadow: 2px -2px 6px rgba(0, 0, 0, 0.25);
}

.btn-back:hover {
  border: 1px solid rgb(251, 198, 56);
  box-shadow: 2px -2px 6px rgba(251, 198, 56, 0.25);
  outline: 2px solid rgb(251, 198, 56);
  outline-offset: 4px;
  transition: 0.3s;
  cursor: pointer;
}


.btn-actions{
  display: flex; 
  justify-content: flex-end; 
  align-items: center; 
  gap:24px;
  width:100%; 
} 

.btn-detail {
  padding: 6px 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.btn-detail svg {
  width: 100%;
  height: 100%; 
  color:#242424
}

.btn-detail-text {
  width: 100%;
  font-weight: 600;
  font-size: 1.1rem;
  letter-spacing: 0.4px; 
  color:#242424;
} 

.btn-edit {
  background-color: rgba(245, 245, 245, 0.8);
  border: 1px solid var(--btn-edit-hover);
  outline: none;
}

.btn-edit:hover,
.btn-edit.active,
.btn-edit.focus {
  background-color: var(--btn-edit-hover);
  border: 1px solid var(--btn-edit-hover);
  box-shadow: 2px -2px 6px rgba(251, 198, 56, 0.25);
  outline: 2px solid var(--btn-edit-hover);
  outline-offset: 4px;
  transition: 0.3s;
  cursor: pointer;
}

.btn-s-u, 
.add-btn {
  background-color: rgba(245, 245, 245, 0.8);
  border: 1px solid var(--btn-more-hover);
  outline: none;
}

.btn-s-u:hover,
.btn-s-u.active,
.btn-s-u.focus, 
.add-btn:hover,
.add-btn.active,
.add-btn.focus {
  background-color: var(--btn-more-hover);
  border: 1px solid var(--btn-more-hover);
  box-shadow: 2px -2px 6px rgba(251, 198, 56, 0.25);
  outline: 2px solid var(--btn-more-hover);
  outline-offset: 4px;
  transition: 0.3s;
  cursor: pointer;
}

.btn-delete {
  background-color: rgba(245, 245, 245, 0.8);
  border: 1px solid var(--btn-delete-hover);
  outline: none;
}

.btn-delete:hover,
.btn-delete.active,
.btn-delete.focus {
  background-color: var(--btn-delete-hover);
  border: 1px solid var(--btn-delete-hover);
  box-shadow: 2px -2px 6px rgba(251, 198, 56, 0.25);
  outline: 2px solid var(--btn-delete-hover);
  outline-offset: 4px;
  transition: 0.3s;
  cursor: pointer;
}


@media only screen and (min-width: 601px) {
  .action-area {
    padding: 24px 50px 12px 50px; 
  } 
}

@media only screen and (min-width: 1026px) {
  .action-area {
    padding: 24px 80px 12px 80px;
  }
}

/* ---- address block normal view ----- */ 
.address-block { 
  width:90%;
  margin: 1rem auto;
}

.address-title {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.address-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  display: grid; 
  flex-direction: column; 
  width:100%;
}

.address-card-content{
  gap:1rem; 
  display:flex; 
  flex-direction: column;
}

.address-card-content p {
  margin: 0.25rem 0; 

}

.address-card.editable label {
  display: flex;
  flex-direction: column; 
}


.detail-content, 
.invoice-form{
  margin-top:200px;
}

.detail-content-info{
  border:1px solid red; 
  display:flex; 
  flex-direction: column;
}



@media only screen and (min-width:1027px){
  .address-card{
    width: 100%;
  }  
  .address-card-content{
    gap:1rem 1.5rem; 
    display: grid; 
    grid-template-columns: 1fr 1fr;
  } 
  .detail-content-info{
    display: flex; 
    flex-direction: row;
  }
}

/* ---- address block normal view ----- */ 

/* ---- address block form view ----- */ 
.forms input{
  width: 100%;
  height: 24px;
  border: 1px solid var(--btn-invoice);
  transition: all 0.2s ease-in-out;
  outline: none;
  background-color: var(--bg-color);
  color: var(--text-color);
} 

.forms input:hover{
  border-color: #ddd;
  cursor: pointer;
}

.forms input:focus{
  border-color: var(--btn-more);
  box-shadow: 0 0 4px var(--btn-more);
}

.forms input::placeholder{
  color: var(--text-color-placeholder);
  font-style: italic;
  font-size: 14px; 
  text-transform: capitalize;
  transition: color 0.2s ease-in-out;
}

.forms input:hover::placeholder, 
.forms input:focus::placeholder{
  color:var(--text-color);
}
/* ---- address block form view ----- */