.invoice-detail {
  width: 100%;
  margin: 0 auto;
  background-color: var(--bg-color);
  color: var(--text-color);
}
.invoice-detail-topbar {
  position: fixed;
  top: 90px;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 12px 16px 0 16px;
  background-color: var(--bg-color);
}

.actions {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
  width: 100%;
}

.actions button {
  display: flex;
  align-items: center;
  justify-content: center; 
  gap:4px;
  padding: 6px 24px;
  border-radius: 8px;
  border: none; 
}

.actions button span {
  width: 100%;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0.4px;
} 

.actions button svg{
  width:100%; 
  height: 100%; 
}

.detail-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
} 

.edit-btn {
  background-color: var(--btn-edit);
}

.edit-btn:hover {
  background-color: var(--btn-edit-hover);
}

.delete-btn {
  background-color: var(--btn-delete);
  color: #fff;
}

.delete-btn:hover {
  background-color: var(--btn-delete-hover);
}

.back-btn {
  background: none;
  border: none;
  color: var(--text-color);
  font-size: 16px;
  font-weight: 600;
}
.back-btn:hover {
  color: var(--text-color);
  cursor: pointer;
}

.cta-detail {
  transition: 1s;
}

.cta-detail:focus,
.cta-detail.active {
  outline: none;
}

.cta-detail:hover,
.cta-detail:focus,
.cta-detail.active {
  transition: 0.5s;
}

.cta-detail span:nth-child(2) {
  transition: 0.5s;
}

.cta-detail:hover span:nth-child(2),
.cta-detail:focus span:nth-child(2),
.cta-detail.active span:nth-child(2) {
  transition: 0.5s;
}

.cta-detail span:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
}

span:nth-child(2) {
  width: 20px;
  position: relative;
  top: 12%;
}

/**************SVG****************/

.cta-detail > span > svg {
  transform: rotate(180deg);
  margin-right: 4px;
}

path.one {
  transition: 0.4s;
}

path.two {
  transition: 0.5s;
}

.cta-detail:hover path.three {
  animation: color_anim_detail 1s infinite 0.2s;
}

.cta-detail:hover path.one {
  animation: color_anim_detail 1s infinite 0.6s;
}

.cta-detail:hover path.two {
  animation: color_anim_detail 1s infinite 0.4s;
}

/* SVG animations */

@keyframes color_anim_detail {
  0% {
    fill: var(--text-color);
  }
  50% {
    fill: #fbc638;
  }
  100% {
    fill: var(--text-color);
  }
}

@media only screen and (min-width: 768px) {
  .invoice-detail-topbar {
    padding: 0 50px 0 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 12px;
  }
  .actions {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 24px;
  }
}

@media only screen and (min-width: 1026px) {
  .invoice-detail-topbar {
    padding: 0 80px 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 12px;
  }
  .actions {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 24px;
  }
}
