.sidenav-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    padding: 36px 0px 12px 0px; 
    top:0; 
    left:0; 
    box-sizing: border-box; 
    position: fixed;  
    width:100%; 
    z-index: 1000; 
    background-color: var(--bg-color);
} 

a, a:hover, a.active, a:focus{
    color: var(--text-color); 
    text-decoration: none;
}

.sidenav-area-logo {
    display: flex;
    align-items: center;
    gap: 4px; 
    width:fit-content; 
    margin-left:24px;
}

.sidenav-area-logo svg {
    width: 28px;
    height: 28px; 
}

.sidenav-area-logo span {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase; 
    width:100%;
}

.sidenav-area-right {
    display: flex;
    align-items: center; 
    gap:4px; 
    margin-right:16px;
}

.sidenav-area-right-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
    width:100%; 
} 

.sidenav-area-right-profile:hover{
    cursor: pointer;
}

.sidenav-area-right-theme{ 
    box-sizing: border-box;
    width:100%; 
    height:auto;
}

@media only screen and (min-width:601px){
    .sidenav-area{
        padding:36px 30px 12px 30px; 
    } 
    .sidenav-area-right{
        gap:8px;
    }
}

@media only screen and (min-width:1026px){
    .sidenav-area{
        padding: 36px 60px 12px 60px; 
    } 
    .sidenav-area-right{
        gap:8px;
    }
}