.sidenav-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 36px 16px 12px 16px; 

    top:0; 
    left:0;
    box-sizing: border-box; 
    position: fixed;  
    width:100%; 
    z-index: 1000; 
    background-color: var(--bg-color);
} 

a, a:hover, a.active, a:focus{
    color: var(--text-color); 
    text-decoration: none;
}

.sidenav-area-logo {
    display: flex;
    align-items: center;
    gap: 4px;
}

.sidenav-area-logo svg {
    width: 28px;
    height: 28px;
}

.sidenav-area-logo span {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}

.sidenav-area-right {
    display: flex;
    align-items: center; 
    gap:4px;
}

.sidenav-area-right-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;  
} 
.sidenav-area-right-profile svg:nth-child(1){
    width:36px; 
    height:36px; 
    color:var(--text-color);
}

.sidenav-area-right-profile svg:nth-child(2){
    width:24px; 
    height:24px; 
    color:var(--text-color);
}

.sidenav-area-right-profile:hover{
    cursor: pointer;
}

.sidenav-area-right-theme{
    border:1px solid white;
}

@media only screen and (min-width:601px){
    .sidenav-area{
        padding:36px 60px 12px 60px;
    } 
    .sidenav-area-right{
        gap:8px;
    }
}
