.invoice-header-area {
    display: flex;
    flex-direction: column;
    padding: 0 16px 0 16px; 
    
    top:90px; 
    position: sticky; 
    z-index: 999; 
    background-color: var(--bg-color);
} 

.invoice-header-area-row-1{
    display:flex; 
    align-items: center; 
    justify-content: space-between;
}

.invoice-header-area-row-1 button{
    padding:12px 24px; 
    font-weight: 700; 
    font-size: 1rem; 
    letter-spacing: 0.4px; 
    border-radius: 8px; 
    border:none; 
    background-color: thistle; 
    box-shadow: 1px 2px 3px rgba(63, 41, 63, 0.6);
} 

.invoice-header-area-row-1 button:hover, 
.invoice-header-area-row-1 button.active, 
.invoice-header-area-row-1 button:focus{
    cursor:pointer; 
    background-color: plum;
}


.invoice-header-area-row-2 {
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
}

.invoice-header-area-row-2 {
    position: relative;
    width: 100%;
    cursor: pointer; 
    margin:12px 0 12px 0; 
}

.invoice-header-area-row-3{
    width: 100%;
}

@media only screen and (min-width:601px){
    .invoice-header-area{
        padding:0 60px 0 60px;
    } 
    .invoice-header-area-row-2{
        display:flex; 
        flex-direction: row; 
        align-items: center; 
        justify-content: space-between;
    }
}