.invoice-header-area {
    display: flex;
    flex-direction: column;
    padding: 0 16px 0 16px; 
    
    top:90px; 
    position: sticky; 
    z-index: 999; 
    background-color: var(--bg-color);
} 

.invoice-header-area-row-1{
    display:flex; 
    align-items: center; 
    justify-content: space-between;
}

.invoice-header-area-row-1 button{
    padding:12px 24px; 
    font-weight: 700; 
    font-size: 1rem; 
    letter-spacing: 0.4px; 
    border-radius: 8px; 
    border:none; 
    background-color: thistle; 
    box-shadow: 1px 2px 3px rgba(63, 41, 63, 0.6);
} 

.invoice-header-area-row-1 button:hover, 
.invoice-header-area-row-1 button.active, 
.invoice-header-area-row-1 button:focus{
    cursor:pointer; 
    background-color: plum;
}


.invoice-header-area-row-2 {
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
}

.invoice-header-area-row-2-filter {
    position: relative;
    width: 160px;
    cursor: pointer; 
}

.filter-title { 
    margin-top: 12px;
    background: var(--bg-color);
    padding: 8px 8px; 
    border:1px solid var(--nav-bg);
    border-radius: 6px;
    display: flex;
    gap: 4px;
    align-items: center; 
    justify-content: space-between; 
    font-weight:700; 
    font-size: 1rem;
}

.arrow {
    transition: transform 0.2s ease;
}

.arrow.open {
    transform: rotate(180deg);
}

.invoice-header-area-filter-list {
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-top: 5px;
    width: 100%;
    list-style: none;
    padding: 0;
}

.invoice-header-area-filter-list li {
    padding: 10px;
    transition: background 0.2s;
}

.invoice-header-area-filter-list li:hover {
    background: #eee;
}

@media only screen and (min-width:601px){
    .invoice-header-area{
        padding:0 60px 0 60px;
    } 
    .invoice-header-area-row-2{
        display:flex; 
        flex-direction: row; 
        align-items: center; 
        justify-content: space-between;
    }
}