.invoice-header-area {
    padding: 0 16px 0 16px; 
    width:100%; 
    box-sizing: border-box;
    top:90px; 
    position: fixed; 
    z-index: 1000; 
    background-color: var(--bg-color); 
    color:var(--text-color); 
} 

.invoice-header-area-row-1{ 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
}

.invoice-header-area-row-1 > button{
    padding:12px 24px; 
    font-weight: 700; 
    font-size: 1rem; 
    letter-spacing: 0.4px; 
    border-radius: 8px; 
    border:none; 
    color:var(--btn-text);
    background-color: var(--btn-invoice); 
    box-shadow: 1px 2px 3px rgba(63, 41, 63, 0.6);
} 

.invoice-header-area-row-1 button:hover, 
.invoice-header-area-row-1 button.active, 
.invoice-header-area-row-1 button:focus{
    cursor:pointer; 
    background-color: var(--btn-invoice-hover); 
    color:#fff;
}


.invoice-header-area-row-2 {
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
}

.invoice-header-area-row-2 {
    position: relative;
    width: 100%;
    margin:20px 0 20px 0; 
}

.invoice-header-area-row-3{
    width: 100%; 
    display: flex; 
    justify-content: flex-end;
}

@media only screen and (min-width:601px){
    .invoice-header-area{
        padding:0 50px 0 50px; 
    } 
} 

@media only screen and (min-width:1026px){
    .invoice-header-area{
        padding: 0 60px 0 60px; 
    }
}