table {
  border-collapse: collapse;
  margin: 0 auto;
  padding: 2px 8px;
  margin-bottom: 8px;
  width: 90%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

table tr {
  background-color: var(--bg-color);
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 0.35em;
}

table th,
table td {
  padding: 0.625em;
  text-align: left;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  } 
  .status-badge{
    text-transform: capitalize;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}

table td.more-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px auto 0 auto;
  gap: 8px;
  padding: 6px 8px;
  background-color: var(--btn-more);
  color: #242424;
  border-radius: 6px;
}

table td.more-btn:hover,
table td.more-btn.active,
table td.more-btn:focus {
  cursor: pointer;
  background-color: var(--btn-more-hover);
  transition: all ease-in 0.4ms;
}

table td.more-btn svg {
  width: 20px;
  height: 20px;
}

table td.more-btn span {
  font-weight: bold;
  font-size: 1rem;
}

@media only screen and (min-width: 641px) and (max-width: 1921px) {
  table td.more-btn {
    margin: 4px auto;
    width: 70%;
  }
}

.cta {
  transition: 1s;
}

.cta:focus,
.cta.active {
  outline: none;
}

.cta:hover,
.cta:focus,
.cta.active {
  transition: 0.5s;
}

.cta span:nth-child(2) {
  transition: 0.5s;
}

.cta:hover span:nth-child(2),
.cta:focus span:nth-child(2),
.cta.active span:nth-child(2) {
  transition: 0.5s;
}

.cta span:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
}

span:nth-child(2) {
  width: 20px;
  position: relative;
  top: 12%;
}

/**************SVG****************/

path.one {
  transition: 0.4s;
}

path.two {
  transition: 0.5s;
}

.cta:hover path.three {
  animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
  animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
  animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */

@keyframes color_anim {
  0% {
    fill: #242424;
  }
  50% {
    fill: #fbc638;
  }
  100% {
    fill: #242424;
  }
}
