table td.more-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px auto 0 auto;
  gap: 8px;
  padding: 6px 8px;
  background-color: var(--btn-more);
  color: #242424;
  border-radius: 6px;
}

table td.more-btn:hover,
table td.more-btn.active,
table td.more-btn:focus {
  cursor: pointer;
  background-color: var(--btn-more-hover);
  transition: all ease-in 0.4ms;
}

table td.more-btn svg {
  width: 20px;
  height: 20px;
}

table td.more-btn span {
  font-weight: bold;
  font-size: 1rem;
}

@media only screen and (min-width: 641px) and (max-width: 1921px) {
  table td.more-btn {
    margin: 4px auto;
    width: 70%;
  }
}

.cta {
  transition: 1s;
}

.cta:focus,
.cta.active {
  outline: none;
}

.cta:hover,
.cta:focus,
.cta.active {
  transition: 0.5s;
}

.cta span:nth-child(2) {
  transition: 0.5s;
}

.cta:hover span:nth-child(2),
.cta:focus span:nth-child(2),
.cta.active span:nth-child(2) {
  transition: 0.5s;
}

.cta span:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
}

span:nth-child(2) {
  width: 20px;
  position: relative;
  top: 12%;
}

/**************SVG****************/

path.one {
  transition: 0.4s;
}

path.two {
  transition: 0.5s;
}

.cta:hover path.three {
  animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
  animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
  animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */

@keyframes color_anim {
  0% {
    fill: #242424;
  }
  50% {
    fill: #fbc638;
  }
  100% {
    fill: #242424;
  }
}
