:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app.light {
  --bg-color: #F7F4F3;
  --text-color: #242424; 
  --btn-text:#000000;
  --btn-invoice:#7887F7; 
  --btn-invoice-hover:#3E53F4; 
  --btn-sort:#95B1A9; 
  --btn-sort-hover:#D0DCD9;
  --btn-more:#98D7C1; 
  --btn-more-hover:#7CCBB0;
  --button-bg: transparent;
  --button-text: #333;
  --nav-bg: #444;  
  --hover-bg: #eaeaea; 
  --accent-color: #CB9F01;
}

.app.dark {
  --bg-color: #4C4F57;
  --text-color: #f9f9f9; 
  --btn-text:#000000; 
  --btn-invoice:#8B98F8; 
  --btn-invoice-hover:#3E53F4; 
  --btn-sort:#B9CBC6; 
  --btn-sort-hover:#D0DCD9;
  --btn-more:#B6E2D3; 
  --btn-more-hover:#7CCBB0; 
  --button-bg: transparent;
  --button-text: #f9f9f9;
  --nav-bg: #fff;
}


body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh; 
  box-sizing: border-box; 
  width:100%; 
  height:100%;
}

.app {
  background-color: var(--bg-color);
  color: var(--text-color);
}