:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400; 
  width:100%; 
  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app.light {
  --bg-color: #F7F4F3;
  --text-color: #242424; 
  --btn-text:#000000;
  --btn-invoice:#D3C4E3; 
  --btn-invoice-hover:#B79ED1; 
  --btn-sort:#F9C78A; 
  --btn-sort-hover:#F7B564;
  --btn-more:#A7DDCA; 
  --btn-more-hover:#7CCBB0; 
  --btn-edit:#C5E03E; 
  --btn-edit-hover:#B5D322; 
  --btn-delete: #E23C47; 
  --btn-delete-hover:#D5202C;
  --button-bg: transparent;
  --button-text: #333;
  --nav-bg: #444;  
  --hover-bg: #eaeaea; 
  --accent-color: #CB9F01;
}

.app.dark {
  --bg-color: #4C4F57;
  --text-color: #f9f9f9; 
  --btn-text:#000000; 
  --btn-invoice:#D3C4E3; 
  --btn-invoice-hover:#B79ED1; 
  --btn-sort:#F9C78A; 
  --btn-sort-hover:#F7B564;
  --btn-more:#C4E8DC; 
  --btn-more-hover:#7CCBB0; 
  --btn-edit: #D0E562; 
  --btn-edit-hover:#B5D322; 
  --btn-delete:#E44E58; 
  --btn-delete-hover:#D5202C;
  --button-bg: transparent;
  --button-text: #f9f9f9;
  --nav-bg: #fff;
}


body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh; 
  box-sizing: border-box; 
  width:100%; 
  height:100%;
}

.app {
  background-color: var(--bg-color);
  color: var(--text-color);
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  padding: 2px 8px;
  margin-bottom: 8px;
  width: 90%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em; 
  font-weight: bold; 
  text-align: left; 
  margin: 0.5em 0 0.75em;
}

table tr {
  background-color: var(--bg-color);
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 0.35em;
}

table th,
table td {
  padding: 0.625em;
  text-align: left;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  } 
  .status-badge{
    text-transform: capitalize;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}