:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400; 
  width:100%; 
  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app.light {
  --bg-color: #F7F4F3;
  --text-color: #242424; 
  --btn-text:#000000;
  --btn-invoice:#D3C4E3; 
  --btn-invoice-hover:#B79ED1; 
  --btn-sort:#F9C78A; 
  --btn-sort-hover:#F7B564;
  --btn-more:#A7DDCA; 
  --btn-more-hover:#7CCBB0; 
  --btn-edit:#C5E03E; 
  --btn-edit-hover:#B5D322; 
  --btn-delete: #E23C47; 
  --btn-delete-hover:#D5202C;
  --button-bg: transparent;
  --button-text: #333;
  --nav-bg: #444;  
  --hover-bg: #eaeaea; 
  --accent-color: #CB9F01;
}

.app.dark {
  --bg-color: #4C4F57;
  --text-color: #f9f9f9; 
  --btn-text:#000000; 
  --btn-invoice:#D3C4E3; 
  --btn-invoice-hover:#B79ED1; 
  --btn-sort:#F9C78A; 
  --btn-sort-hover:#F7B564;
  --btn-more:#C4E8DC; 
  --btn-more-hover:#7CCBB0; 
  --btn-edit: #D0E562; 
  --btn-edit-hover:#B5D322; 
  --btn-delete:#E44E58; 
  --btn-delete-hover:#D5202C;
  --button-bg: transparent;
  --button-text: #f9f9f9;
  --nav-bg: #fff;
}


body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh; 
  box-sizing: border-box; 
  width:100%; 
  height:100%;
}

.app {
  background-color: var(--bg-color);
  color: var(--text-color);
}