:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app.light {
  --bg-color: #f3f2f2;
  --text-color: #242424;
  --button-bg: #bebdbd;
  --button-text: #333;
  --nav-bg: #444;
}

.app.dark {
  --bg-color: #525151;
  --text-color: #f9f9f9;
  --button-bg: #e0e0e0;
  --button-text: #f9f9f9;
  --nav-bg: #fff;
}


body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

.app {
  background-color: var(--bg-color);
  color: var(--text-color);
}