.invoice-filter {
  width: 100%; 
  height:auto;
  display: flex; 
  flex-direction: row; 
  justify-content: space-between; 
}

.arrow {
  transition: transform 0.2s ease;
}

.arrow.open {
  transform: rotate(180deg);
}

.filter-title{
    display: flex; 
    gap:4px; 
    align-items: center;
}

.filter-section{ 
    width: 120px; 
    height:auto;
 display: flex; 
 align-items: center; 
 justify-content: center;
 background-color: thistle; 
 color:#2b2c2b; 
 padding:8px 8px; 
 border:0; 
 border-radius: 8px; 
 font-size: 14px; 
 font-weight: bold;
}

.filter-section:hover {
  display: flex; 
  align-items: center; 
  justify-content: center;
  color: #2b2c2b;
  padding: 8px 8px;
  width:120px; 
  height:auto;
  background-color: plum;
  background-image:
    radial-gradient(
      93% 87% at 87% 89%,
      rgba(0, 0, 0, 0.23) 0%,
      transparent 86.18%
    ),
    radial-gradient(
      66% 66% at 26% 20%,
      rgba(255, 255, 255, 0.55) 0%,
      rgba(255, 255, 255, 0) 69.79%,
      rgba(255, 255, 255, 0) 100%
    );
  box-shadow:
    inset -3px -3px 9px rgba(255, 255, 255, 0.25),
    inset 0px 3px 9px rgba(255, 255, 255, 0.3),
    inset 0px 1px 1px rgba(255, 255, 255, 0.6),
    inset 0px -8px 36px rgba(0, 0, 0, 0.3),
    inset 0px 1px 5px rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  font-weight: bold;
  font-size: 14px;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}

.invoice-filter-list {
  position: absolute; 
  display: inline-block;
  z-index:10;
  top: 100%;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-top: 0px;
  width: 120px; 
  height:max-content;
  list-style: none;
  padding: 0;
}

.invoice-filter-list li {
  padding: 10px;
  transition: background 0.2s;
}

.invoice-filter-list li:hover {
  background: #eee;
}


